<div class="question">
  <%= @question %><br><br>
  <em>-Question</em>
</div>

<div class="answer">
  <strong><%= @answer %></strong><br><br>
  <em>-Answer</em>
</div>

<%= link_to 'Ask me a question', ask_path%>
